@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar-thumb {
        @apply bg-transparent shadow-sm;
    }
    ::-webkit-scrollbar {
        @apply w-3 bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-alpha /*color trackbar*/;
    }

    .overlay {
        overflow: overlay;
    }
}

@layer components {
    .inactive-nav {
        @apply h-full px-4 flex justify-center items-center text-nav hover:text-skin;
    }
    .active-nav {
        @apply h-full px-4 flex justify-center items-center text-primary;
    }

    .inactive-nav-mobile {
        @apply px-2 py-3 rounded-lg font-medium text-base flex items-center gap-x-3;
    }

    .active-nav-mobile {
        @apply px-2 py-3 rounded-lg font-semibold bg-[rgba(0,0,0,0.05)]  text-base flex items-center gap-x-3;
    }
}

.slick-dots li button:before {
    font-size: 15px !important;
}

.slick-dots {
    bottom: 2% !important;
}

.shadow-card {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.08);
}

input::placeholder {
    color: #bababa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
